body{
    margin: 0px;
}

#navbar{
    background-color: black;
}

#navbar{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

#navbar a{
    color: white;
    text-decoration: none;
}

#navbar a:hover{
    color: red;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}

#main_title{
    text-align: center;
    text-decoration: underline;
}