body{
    margin: 0px;
}

/*navbar*/
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: hsl(0, 0%, 0%);

    column-gap: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbar a{
    color: hsl(0, 100%, 50%);
    text-decoration: none;
}

#navbar a:hover{
    color: hsl(0, 100%, 80%);
}

#main_title{
    text-align: center;
    text-decoration: underline;
}

footer{
    text-align: center;
}