body{
    margin: 0px;
}

/*navbar*/
#navbar{
    background-color: black;
}

#navbar{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

#navbar a{
    color: white;
    text-decoration: none;
}

#navbar a:hover{
    color: red;
}

/*main*/
main{
    margin-left: 17vw;
    margin-right: 17vw;
}

#main_title{
    text-align: center;
    text-decoration: underline;
}

/*mobile responsive main*/
@media screen and (max-width:767px){
    main{
        margin-left: 4vw;
        margin-right: 4vw;
    }

    main *{
        text-align: center;
    }

    main ul *{
        text-align: left;
    }
}